doctype html
html.no-js(lang='zh-CN')
    head
        meta(charset='utf-8')
        <base href="/">
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title 视觉中国
        link(rel="icon name", href="//goss.vcg.com/html/images/icons/icon-shijue.ico")
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        style#jss-server-side.
            !{css}
        #root !{html}

        script(src='https://qiyukf.com/script/03ba8a2baae3de5d77c84143e7040849.js?templateId=2498701')

        script.
          window._ASYNC_FETCH = !{_async_fetch}; //是否为刷新页面加载
          window.__PRELOADED_STATE__ = !{preloadedState}
        each src in bundles
            script(src=`\/${src}`)
        script.
          window.main();
        script.
          (function (para) {
            var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script', x = null, y = null;
            w['sensorsDataAnalytic201505'] = n;
            w[n] = w[n] || function (a) {
                return function () {
                  (w[n]._q = w[n]._q || []).push([a, arguments]);
                }
              };
            var ifs = ['track', 'quick', 'register', 'registerPage', 'registerOnce', 'clearAllRegister', 'trackSignup', 'trackAbtest', 'setProfile', 'setOnceProfile', 'appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify', 'login', 'logout', 'trackLink', 'clearAllRegister', 'getAppStatus'];
            for (var i = 0; i < ifs.length; i++) {
              w[n][ifs[i]] = w[n].call(null, ifs[i]);
            }
            if (!w[n]._t) {
              x = d.createElement(s), y = d.getElementsByTagName(s)[0];
              x.async = 1;
              x.src = p;
              x.setAttribute('charset', 'UTF-8');
              y.parentNode.insertBefore(x, y);
              w[n].para = para;
            }
          })({
            show_log: false,
            sdk_url: 'https://static.sensorsdata.cn/sdk/1.8.14/sensorsdata.min.js',
            name: 'sa',
            web_url: 'http://sensorsdata.vcg.com/?project=Vcgzhengshi',
            server_url: 'https://sensorsdata.vcg.com/sa?project=Vcgzhengshi',
            heatmap: {}
          });
          sa.quick('autoTrack');
        script(src='https://www.googletagmanager.com/gtag/js?id=UA-112420443-1',async)
        script.
          <!-- Global site tag (gtag.js) - Google Analytics -->
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());

          gtag('config', 'UA-112420443-1');
          gtag('set', {'user_id': '!{userId}'}); // 使用已登录的 user_id 来设置用户 ID。
        script.
          <!-- Google Tag Manager -->
          (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
              'gtm.start': new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
          })(window, document, 'script', 'dataLayer', 'GTM-M4XX32W');
          <!-- End Google Tag Manager -->
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-M4XX32W", frameborder="0" width="0" height="0")

